<div class="main">
	<section class="module" id="actualites">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="post">
						<div class="post-images-slider">
							<ul class="slides">
								<li><img src="{{ asset('images/post-1.jpg') }}" alt="Blog Slider Image"/></li>
								<li><img src="{{ asset('images/post-3.jpg') }}" alt="Blog Slider Image"/></li>
								<li><img src="{{ asset('images/post-1.jpg') }}" alt="Blog Slider Image"/></li>
								<li><img src="{{ asset('images/post-3.jpg') }}" alt="Blog Slider Image"/></li>
							</ul>
						</div>
						<div
							class="post-header font-alt">
							<h2 class="post-title"><a href="{{ path('les-actualites')}}">Nos dernières actualités en photos</a></h2>
						</div>
						<div class="post-entry">
							<p>Retrouver toutes les actualités de votre commune</p>
						</div>
						<div class="post-more">
							<a class="more-link" href="#">Tout voir</a>
						</div>
					</div>
					<div class="post">
						<div class="post-quote">
							<blockquote class="font-serif">
                <p>Citation du jour</p>
                <p>&quot;  Les langues ne diffèrent que par leur grammaire, leur prononciation et leurs mots les plus courants. Chacun comprend pourquoi une nouvelle langue commune serait souhaitable : on pourrait refuser de payer des traducteurs coûteux. &quot;</p>
								<p class="font-inc font-uppercase">- Thomas Anderson</p>
							</blockquote>
						</div>
					</div>
					<div class="post">
						<div class="post-video embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="//www.youtube.com/embed/Jkk0VHiCnKY" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
						</div>
						<div class="post-header font-alt">
							<h2 class="post-title">
								<a href="#">Vidéo courte</a>
							</h2>
							<div class="post-meta"><a href="#"></a>| 23 Novembre | 3 Commentaires |
								<a href="#">Film,
								</a>
								<a href="#">Animé</a>
							</div>
						</div>
						<div class="post-entry">
							<p>Voir d'autre vidéos.</p>
						</div>
						<div class="post-more">
							<a class="more-link" href="#">C'est parti</a>
						</div>
					</div>
					<div class="post">
						<div class="post-images-slider">
							<ul class="slides">
								<li><img src="{{ asset('images/post-1.jpg') }}" alt="Blog Slider Image"/></li>
								<li><img src="{{ asset('images/post-3.jpg') }}" alt="Blog Slider Image"/></li>
								<li><img src="{{ asset('images/post-1.jpg') }}" alt="Blog Slider Image"/></li>
								<li><img src="{{ asset('images/post-3.jpg') }}" alt="Blog Slider Image"/></li>
							</ul>
						</div>
						<div class="post-header font-alt">
							<h2 class="post-title">
								<a href="#">La gellerie photos</a>
							</h2>
						</div>
						<div class="post-entry">
							<p>Toutes les photos de votre commune prisent à différentes occasions " 14 juillet, fête des aînés, les voeux de Madame la Maire ... "</p>
						</div>
						<div class="post-more">
							<a class="more-link" href="#">C'est ici</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 col-md-offset-1 sidebar">
				<section class="home-section home-parallax home-fade" id="agenda">
          <div class="hero-slider">
            <ul class="slides">
              <li class="bg-dark-10 welcome-page-header bg-dark" id="agenda">
                <div class="titan-caption">
                  <div class="caption-content" id="agenda">
                    <div class="font-alt mb-10 titan-title-size-1"><strong>Agenda</strong></div>
                    <div class="font-alt mb-10 titan-title-size-1">Retrouver les indispensables </div>
                    <a class="section-scroll btn btn-border-w btn-round" href="#about">En savoir plus</a>
                  </div>
                </div>
              </li>
              <li class="bg-dark-30 welcome-page-header bg-dark" id="agenda">
                <div class="titan-caption">
                  <div class="caption-content" id="agenda">
                      <div class="font-alt mb-30 titan-title-size-1"><strong>Calendrier de passage de la balayeuse</strong></div>
                      <div class="font-alt mb-30 titan-title-size-1">Du 01/01/2023 au 31/12/2023</div>
                    <a class="btn btn-border-w btn-round" href="about">En savoir plus</a>
                  </div>
                </div>
              </li>
              <li class="bg-dark-30 welcome-page-header bg-dark" id="agenda">
                <div class="titan-caption">
                  <div class="caption-content" id="agenda">
                    <div class="font-alt mb-30 titan-title-size-1"><strong>Food Truck</strong></div>
                    <div class="font-alt mb-40 titan-title-size-1">Case des saveurs chez Lucie</div>
                    <div class="font-alt mb-30 titan-title-size-1">Du 01/01/2023 au 31/12/2023<br>De 18h00 à 20h30</div>
                    <a class="section-scroll btn btn-border-w btn-round" href="#about">En savoir plus</a>
                  </div>
                </div>
              </li>
              <li class="bg-dark-30 welcome-page-header bg-dark" id="agenda">
                <div class="titan-caption">
                  <div class="caption-content" id="agenda">
                    <div class="font-alt mb-30 titan-title-size-1"><strong>Food Truck</strong></div>
                    <div class="font-alt mb-40 titan-title-size-1">Poitiers pizza</div>
                    <div class="font-alt mb-30 titan-title-size-1">Du 01/01/2023 au 31/12/2023<br>De 18h00 à 20h30</div>
                    <a class="section-scroll btn btn-border-w btn-round" href="#about">En savoir plus</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
					<div class="widget" id="accès-directs">
						<h5 class="widget-title font-alt">Accès directs</h5>
						<ul>
							<li>
								<a href="#"><i class="fa fa-institution" id="acces-directs"></i><strong>Compte-rendus</strong></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-user" id="acces-directs"></i><strong>État civil</strong></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-credit-card" id="acces-directs"></i><strong>Paiement en ligne</strong></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-folder" id="acces-directs"></i><strong>Démarches en ligne</strong></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-book" id="acces-directs"></i><strong>Publications</strong></a>
							</li>
              <li>
								<a href="#"><i class="fa fa-building" id="acces-directs"></i><strong>Urbanisme</strong></a>
							</li>
              <li>
								<a href="#"><i class="fa fa-home" id="acces-directs"></i><strong>Location de salles</strong></a>
							</li>
              <li>
								<a href="#"><i class="fa fa-medkit" id="acces-directs"></i><strong>Annuaire de la santé</strong></a>
							</li>
						</ul>
					</div>
					<!-- Newsletter --> 
          <div class="widget">
            <h5 class="widget-title font-alt">Newsletter</h5>
            <div class="newsletter">
              <div><img src="{{ asset('images/newsletter-bg.png') }}"/></div>
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <div class="newsletter_title">Souscrire à votre newsletter</div>
                  </div>
                </div>
                <div class="row newsletter_row">
                  <div class="col-lg-8 offset-lg-2">
                    <div class="newsletter_form_container">
                      <form action="#" id="newsleter_form" class="newsletter_form">
                        <input type="email" class="newsletter_input" placeholder="Votre E-mail" required="required">
                      </form>
                        <button class="newsletter_button">subscribe</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
					<div class="widget" id="dreniers-commentaires">
						<h5 class="widget-title font-alt">Derniers commentaires</h5>
						<ul class="icon-list">
							<li>Maria dans
								<a href="#">Body smile</a>
							</li>
							<li>John dans
								<a href="#">Conseil municipal des jeunes</a>
							</li>
							<li>Andy dans
								<a href="#">Food tuck poitiers pizza</a>
							</li>
							<li>Jack dans
								<a href="#">Food truck "case des saveurs chez lucie"</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
