{% extends 'base.html.twig' %}

{% block title %}Les Elus!
{% endblock %}

{% block body %}
	<section class="home-section home-parallax home-fade" id="les_elus" data-background="{{ asset('images/about_bg.jpg') }}">
		<div class="titan-caption">
			<div class="caption-content">
				<div class="container" id="les_elus">
					<div class="module-title font-alt">Vos élus</div>
					<div class="module-subtitle font-serif">Toujours présents pour répondrent à vos questions
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="module">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-8 col-lg-8"><img src="{{ asset('images/section-1.jpg') }}" alt="Title of Image"/></div>
				<div class="col-sm-6 col-md-4 col-lg-4">
					<div class="work-details" id="conseil_municipal_la_maire">
						<h5 class="work-details-title font-alt">
							<stron>Madame La Maire</strong>
						</h5>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam vel accusantium optio, magni velit cum doloribus modi natus culpa suscipit, esse provident quidem fugit distinctio? Dolore, doloremque accusantium! Dignissimos, commodi.</p>
						<ul>
							<li>
								<strong>Maire:
								</strong>
							</li>
							<li>
								<strong>Depuis le:
								</strong>
								<span class="font-serif">
									<a href="#" target="_blank">23 November, 2021</a>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="col-sm-6 col-sm-offset-3">
		<h2 class="module-title font-alt">Les adjoints</h2>
	</div>

	<section class="module-small">
		<div class="container">
			<div class="row multi-columns-row">
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-1.jpg') }}" alt="Accessories Pack"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>1er Adjoint</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mr John do</a>
						</h4>Infrastructure
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-2.jpg') }}" alt="Men’s Casual Pack"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>2em Adjoint</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mr John Doo</a>
						</h4>Urbanisme
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-3.jpg') }}" alt="Men’s Garb"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>3em Adjoint</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mr John Doo</a>
						</h4>Numérique
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-4.jpg') }}" alt="Cold Garb"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>4em Adjoint</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mme Elsa Doo</a>
						</h4>Finance
					</div>
				</div>
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="module-title font-alt" id="les_conseillers_les_elus">Les conseillers</h2>
				</div>
			</div>
		</div>
	</section>
	<section class="module-small" id="les_conseillers_les_elus">
		<div class="container">
			<div class="row multi-columns-row">
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-4.jpg') }}" alt="Accessories Pack"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>Espaces vert</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mr Pierre Paul</a>
						</h4>Conseiller
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-3.jpg') }}" alt="Men’s Casual Pack"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>Restauration</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mr Paul Pierre</a>
						</h4>Conseiller
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-2.jpg') }}" alt="Men’s Garb"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>Scolaire</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mme Michelle Paule</a>
						</h4>Conseiller
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-1.jpg') }}" alt="Cold Garb"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>Numérique</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mme Lucie Pierre</a>
						</h4>Conseiller
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-1.jpg') }}" alt="Accessories Pack"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>Social</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mr John do</a>
						</h4>Conseiller
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-2.jpg') }}" alt="Men’s Casual Pack"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>Urbanisme</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Mr John Doo</a>
						</h4>Conseiller
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-3.jpg') }}" alt="Men’s Garb"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>Mme Elsa Doo</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Sécurité</a>
						</h4>Conseiller
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-4.jpg') }}" alt="Cold Garb"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>Mr John Doo</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Cadre de vie</a>
						</h4>Conseiller
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-2.jpg') }}" alt="Men’s Garb"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span>Mr John Doo</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Etat civil</a>
						</h4>Conseiller
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="shop-item">
						<div class="shop-item-image"><img src="{{ asset('images/team-1.jpg') }}" alt="Cold Garb"/>
							<div class="shop-item-detail">
								<a class="btn btn-round btn-b">
									<span class="icon-basket">Mme Elsa Doo</span>
								</a>
							</div>
						</div>
						<h4 class="shop-item-title font-alt">
							<a href="#">Entreprises</a>
						</h4>Conseiller
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
