{% extends 'base.html.twig' %}

{% block title %}Hier à Aujoud'hui!
{% endblock %}

{% block body %}
	<main id="hieraujourdhui_mazerolles">
		<section
			class="home-section home-parallax home-fade" id="hieraujourdhui_mazerolles_image" data-background="{{ asset('images/about_bg.jpg') }}">
		</section>

		<section class="module" id="hieraujourdhui_mazerolles_bg">
			<div class="container" id="hieraujourdhui_mazerolles_bg">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">D'hier à aujourd'hui</h2>
						<div class="module-subtitle font-serif">Voici quelques édifices de votre commune qui ont été restauré dans le temps.</div>
					</div>
				</div>
			</div>
		</section>

		<section class="module pt-0 pb-0" id="hieraujourdhui_mazerolles">
			<div class="row position-relative m-0">
				<div class="col-xs-12 col-md-6 side-image">
					<div class="post-images-slider">
						<ul class="slides">
							<li><img class="center-block" src="{{ asset('images/work-1.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-2.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-4.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-2.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-4.jpg') }}" alt="Slider Image"/></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text" id="hieraujourdhui_mazerolles">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="module-title font-alt align-left" id="hieraujourdhui_mazerolles">L'église Saint-Romain, édifice du XIIe siècle.</h2>

							<p>Classée monument historique en 1919, l’Église Saint-Romain située sur la commune de Mazerolles se distingue par un clocher à arcades qui date du XIIe siècle. De plus, son inscription à la liste des monuments historiques a été favorisée par son campanile et son élévation. On ne sait pas vraiment de quand date cette église. Ce que l’on sait, par contre c’est qu’elle est très ancienne. D’ailleurs, certains archéologues émettent l’hypothèse selon laquelle l’église daterait du VIIe siècle.</p>

							<h2 class="module-title font-alt align-left" id="hieraujourdhui_mazerolles">Une église millénaire.</h2>

							<p>L’église est dotée d’un clocher plat à arcades avec quatre cloches. Il est ancien, mais dans un très bon état de conservation. Certains historiens affirment qu’il s’agit d’un clocher de style campanile qui date du XIIe siècle, mais difficile de dire si c’est vraiment le cas. Le clocher se trouve juste devant l’église. Une table funéraire, composée d’une pierre plate posée sur deux supports de la même matière, recevait les cercueils et servait à attacher les chevaux grâce à l’anneau dont elle était pourvue.</p>

							<h2 class="module-title font-alt align-left" id="hieraujourdhui_mazerolles">Son intérieur</h2>

							<p>À l’intérieur, on retrouve une statue remarquable de Saint Sylvain fabriquée en pierre polychrome et qui date du XVe siècle.Cette église Saint-Romain, dont certaines traces architecturales remontent même au VIIe siècle, est un patrimoine intéressant de la commune de Mazerolles.</p>
						</div>
					</div>
				</div>

			</div>
		</section>
		<section class="module pt-0 pb-0" id="hieraujourdhui_mazerolles1">
			<div class="row position-relative m-0">
				<div class="col-xs-12 col-md-6 side-image">
					<div class="post-images-slider">
						<ul class="slides">
							<li><img class="center-block" src="{{ asset('images/work-1.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-2.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-4.jpg') }}" alt="Slider Image"/></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text" id="hieraujourdhui_mazerolles">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="module-title font-alt align-left" id="hieraujourdhui_mazerolles_monumentmort">Le Monument aux Morts</h2>
							<div class="module-subtitle font-serif align-left" id="mazerolles_monumentmort">Le XXe s. et les deux guerres</div>
							<h3 id="monumentmort">La première Guerre mondiale</h3>

							<p>Comme dans de nombreuses communes rurales, la Première Guerre mondiale a eu des répercussions importantes pour Mazerolles, avec la mort de 30 jeunes soldats. Leurs noms figurent sur le monument aux morts situé en face de l’église. Cet édicule est orné d’éléments symboliques : drapeau, fusil, épée, casque, croix militaire, branche de chêne et palme. Le monument porte la signature de « F. BLET entrepreneur à Verrières ».</p>

							<h3 id="hieraujourdhui_mazerolles_monumentmort">La Seconde Guerre mondiale.</h3>

							<p>Alors que les habitants subissent les restrictions de la guerre, la période est marquée par l’accueil d’habitants de l’est de la France, quelques parachutages d’armement et par le sabotage du pont de chemin de fer. La
																								                            commune aura à déplorer deux morts, dont les noms figurent sur le monument aux morts.</p>
						</div>
					</div>
				</div>

			</div>
		</section>
		<section class="module pt-0 pb-0" id="hieraujourdhui_mazerolles1">
			<div class="row position-relative m-0">
				<div class="col-xs-12 col-md-6 side-image">
					<div class="post-images-slider">
						<ul class="slides">
							<li><img class="center-block" src="{{ asset('images/work-1.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-2.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-4.jpg') }}" alt="Slider Image"/></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text" id="hieraujourdhui_mazerolles_chandos">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="module-title font-alt align-left" id="hieraujourdhui_mazerolles_monumentmort">Le cénotaphe John CHANDOS.</h2>

							<div class="module-subtitle font-serif align-left" id="mazerolles_monumentmort">John CHANDOS, grand capitaine anglais de la guerre de Cent ans, connétable de Guyenne (1362) et sénéchal de Poitou (1369) qui fut mortellement blessé à Lussac Les Châteux (plus vraisemblablement au Pont, Commune de Mazerolles où a été élevé ce monument). John CHANDOS est mort à Morthemer (86) en 1370.</div>

							<p>Peu après sa mort, un cénotaphe est érigé en sa mémoire par les autorités anglaises sur les rives de la Vienne où a eu lieu le combat. Déplacé au xixe siècle à proximité pour le protéger des crues par la société d'histoire locale, il est classé aux Monuments Historiques en 1909 et est aujourd’hui visible dans un petit jardin aux Aubeniaux, entre la rue Jean Chandos et la route de Gouex, sur la commune de Mazerolles.</p>
						</div>
					</div>
				</div>

			</div>
		</section>
		<section class="module pt-0 pb-0" id="hieraujourdhui_mazerolles2">
			<div class="row position-relative m-0">
				<div class="col-xs-12 col-md-6 side-image">
					<div class="post-images-slider">
						<ul class="slides">
							<li><img class="center-block" src="{{ asset('images/work-1.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-2.jpg') }}" alt="Slider Image"/></li>
							<li><img class="center-block" src="{{ asset('images/work-4.jpg') }}" alt="Slider Image"/></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text" id="hieraujourdhui_mazerolles_chapelle">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="module-title font-alt align-left" id="hieraujourdhui_mazerolles_chapelle">La chapelle Saint-Sylvain.</h2>

							<div class="module-subtitle font-serif align-left" id="mazerolles_chapelle">Cette chapelle, construite entre le X° et le XVIII°s.,témoigne des dévotions à saint Sylvain connu pour soigner de nombreuses maladies et en particulier les enfants malades</div>

							<p>La chapelle dont la partie la plus ancienne remonte au 10e siècle, est construite sur un lieu chargé d’histoire et de légendes. La chapelle est prise depuis les bords de la Vienne, avec son chevet plat médiéval et attenant, la petite habitation construite après la Révolution.</p>

							<h2 class="module-title font-alt align-left" id="hieraujourdhui_mazerolles">Saint Sylvain.</h2>

							<p>Saint Sylvain habitait autrefois dans le Limousin. Mais, ayant laissé geler les vignes que les habitants du pays avaient mises sous sa protection, ceux-ci le jetèrent dans la Vienne. En tombant à l'eau, saint Sylvain leur dit qu'ils n'auraient jamais de vignes, et qu'ils viendraient le trouver là où il s'arrêterait. En effet, à partir de ce jour il n'a pas été possible d'y récolter du vin.</p>

							<p>Saint Sylvain, suivant le cours de l'eau, vint s'arrêter à Loubressac. On voulut l'emmener à l'église de Mazerolles. Mais on eut beau mettre des boeufs, on ne put le remuer de place.</p>

							<p>On lui éleva donc une chapelle sur le bord de la Vienne. Et c'est là que, tous les ans, à la fin de septembre, -- l'assemblée a lieu le dimanche avant la Saint-Michel -- des centaines et des centaines de Limousins viennent lui faire leurs dévotions.</p>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>

{% endblock %}
