<!DOCTYPE html>
<html lang="fr-FR" dir="ltr">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Bienvenue sur le site de Mazerolles
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}


    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> #}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


		{% block stylesheets %}
    <!-- Feuilles de style par défaut-->
			<link href="{{ asset('lib/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Feuilles de style spécifiques au modèle-->
			<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
			<link href="{{ asset('lib/animate.css/animate.css') }}" rel="stylesheet">
			<link href="{{ asset('lib/components-font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
			<link href="{{ asset('lib/et-line-font/et-line-font.css') }}" rel="stylesheet">
			<link href="{{ asset('lib/flexslider/flexslider.css')}}" rel="stylesheet">
			<link href="{{ asset('lib/owl.carousel/dist/assets/owl.carousel.min.css') }}" rel="stylesheet">
			<link href="{{ asset('lib/owl.carousel/dist/assets/owl.theme.default.min.css') }}" rel="stylesheet">
			<link href="{{ asset('lib/magnific-popup/dist/magnific-popup.css') }}" rel="stylesheet">
			<link href="{{ asset('lib/simple-text-rotator/simpletextrotator.css') }}" rel="stylesheet">
    <!-- Feuille de style principale et fichier de couleurs-->
			<link href="{{ asset('css/style.css') }}" rel="stylesheet">
			<link id="color-scheme" href="{{ asset('css/colors/default.css') }}" rel="stylesheet">

			{{ encore_entry_link_tags('app') }}
			{% endblock %}
		<!-- JavaScripts -->
		{% block javascripts %}
		<script src="{{ asset('lib/jquery/dist/jquery.js') }}"></script>
		<script src="{{ asset('lib/bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('lib/wow/dist/wow.js') }}"></script>
		<script src="{{ asset('lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js') }}"></script>
		<script src="{{ asset('lib/isotope/dist/isotope.pkgd.js') }}"></script>
		<script src="{{ asset('lib/imagesloaded/imagesloaded.pkgd.js') }}"></script>
		<script src="{{ asset('lib/flexslider/jquery.flexslider.js') }}"></script>
		<script src="{{ asset('lib/owl.carousel/dist/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('lib/smoothscroll.js') }}"></script>
		<script src="{{ asset('lib/magnific-popup/dist/jquery.magnific-popup.js') }}"></script>
		<script src="{{ asset('lib/simple-text-rotator/jquery.simple-text-rotator.min.js') }}"></script>
		<script src="{{ asset('js/plugins.js') }}"></script>
		<script src="{{ asset('js/main.js') }}"></script>
		{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Chargement...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="{{ path('homepage') }}">Mazerolles</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Mazerolles</a>
                <ul class="dropdown-menu">
                  <li><a href="{{ path('presentation_mazerolles') }}">Présentation</a></li>
                  <li><a href="{{ path('patrimoine_mazerolles') }}">Patrimoine</a></li>
                  <li><a href="{{ path('hier_et_aujourdhui_mazerolles') }}">D'hier à aujourd'hui</a></li>
                  <li><a href="{{ path('nouveaux_arrivants_mazerolles') }}">Nouveaux arrivant</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">La mairie</a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Conseil municipal</a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('fonctionnement') }}">Fonctionnement </a></li>
                      <li><a href="{{ path('les_elus') }}">Les élus </a></li>
                      <li><a href="{{ path('deliberations') }}">Délibération</a></li>
                    </ul>
                  </li>
                  <li><a href="{{ path('le_budget')}}">Le budget</a>
                  </li>
                  <li ><a href="{{ path('elections') }}">Elections</a>
                  </li>
                  <li><a href="{{ path('intercommunalite') }}">L'intercommunalité</a>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Publications Municipales</a>
                    <ul class="dropdown-menu">
                      <li><a href="index_mp_fullscreen_gradient_overlay.html">Bulletins municipaux</a></li>
                      <li><a href="index_mp_classic_gradient_overlay.html">Calendrier Municipal</a></li>
                      <li><a href="index_mp_classic_gradient_overlay.html">Rétrospectives (vidéos?)</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Services</a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Population et Etat civil</a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('pacs') }}">Pacs</a></li>
                      <li><a href="{{ path('mariage') }}">Mariage</a></li>
                      <li><a href="about3.html">Naissance</a></li>
                      <li><a href="about4.html">Décès</a></li>
                      <li><a href="about4.html">Recensement</a></li>
                      <li><a href="about4.html">Le service Civil Volontaire</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Identité</a>
                    <ul class="dropdown-menu">
                      <li><a href="service1.html">Les passeports</a></li>
                      <li><a href="service2.html">Les cates d'identités</a></li>
                      <li><a href="service3.html">Les permis de conduire</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Gestion funéraire</a>
                    <ul class="dropdown-menu">
                      <li><a href="pricing1.html">Le service gestion funéraire</a></li>
                      <li><a href="pricing2.html">Déclarer le décès d'un proche aux organismes de protection social</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Service Fetes, Culture et Sports</a>
                    <ul class="dropdown-menu">
                      <li><a href="gallery_col_2.html">Location de salle</a></li>
                      <li><a href="gallery_col_3.html">Objets trouvés</a></li>
                      <li><a href="gallery_col_4.html">Associations sportives</a></li>
                      <li><a href="gallery_col_6.html">Associations Culturelles</a></li>
                      <li><a href="gallery_col_6.html">Associations de loisir</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Professionnels de santé</a>
                    <ul class="dropdown-menu">
                      <li><a href="contact1.html">Infirmier(e)s, Kinés, Médecins, Pharmacies...</a></li>
                      <li><a href="contact2.html">Urgences</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Annuaire des professionnels</a></li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Collecte des déchets et autres</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Enfance et Jeunesse</a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Ecoles</a>
                    <ul class="dropdown-menu">
                      <li><a href="portfolio_boxed_col_2.html">Maternelle et Primaire</a></li>
                      <li><a href="portfolio_boxed_col_3.html">Collège</a></li>
                      <li><a href="portfolio_boxed_col_4.html">Lycée</a></li>
                    </ul>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Assistantes maternelles</a>
                  </li>
                  </li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Restaurant scolaire</a>
                  </li>                 
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Cadre de vie</a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Vivre ensemble</a></li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Qualité de l'eau potable</a></li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Lotissement Les Acacias</a></li>
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">RN 147</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Découvertes</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="alerts-and-wells.html">Sud Vienne Poitou</a></li>
                  <li><a href="buttons.html">Circuits de randonnée</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Actualités</a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">L'éditorial de Mme la Maire</a></li>
                  <li><a href="{{ path('les-actualites') }}">Les actualités de la commune</a></li>
                  <li><a href="shop_checkout.html">Les autres actualités</a></li>
                </ul>
              </li>
              <li><a href="#"><p id="inscription">Inscription</p></a></li>
            </ul>
          </div>
        </div>
      </nav>

    <!-- Navbar End -->
    
    {# {% include '_partials/_flash.html.twig' %} #}

    {% block body %}{% endblock %}

    <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Nous contacter</h5>
                  <p>Mairie: +1 234 567 89 10<br>
                     Email: <a href="#">mazezrolles@example.com</a><br>
                  <p><a href="#">Formulaire de contact</a></p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Nous trouver</h5>
                  <p>Mairie de Mazerolles<br>
                     Route de Bouresse<br>
                     86320 MAZEROLLES</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Horaires d'ouverture</h5>
                  <p>Lundi : 9h00 à 12h00 et de 13h00 à 17h00<br>
                     Mardi au vendredi : 9h00 à 12h00 et de 13h00 à 16h30</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Nos partenaires</h5>
                  <ul class="widget-posts">
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-1.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                        <div class="widget-posts-meta">23 january</div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-2.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                        <div class="widget-posts-meta">15 February</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2023&nbsp;<a href="index.html">WebTransform</a>, Tous droits réservé</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>

</main>

	</body>
</html>
